{% ckan_extends %}

{% block package_description %}
  {{ super() }}

   <a href="{{ h.url_for('package_export', package_id=pkg.name, file_format='datacite', extension='xml')}}" class="btn"><i class="fa fa-icon fa-file-text"></i>{{ _(' DataCite ')}}</a>
   <a href="{{ h.url_for('package_export', package_id=pkg.name, file_format='iso19139', extension='xml')}}" class="btn"><i class="fa fa-icon fa-file-text"></i>{{ _(' ISO 19139 ')}}</a>
   <a href="{{ h.url_for('package_export', package_id=pkg.name, file_format='gcmd_dif', extension='xml')}}" class="btn"><i class="fa fa-icon fa-file-text"></i>{{ _(' GCMD DIF ')}}</a>
   <a href="{{ h.url_for('package_export', package_id=pkg.name, file_format='bibtex', extension='bib')}}" class="btn"><i class="fa fa-icon fa-bookmark"></i>{{ _(' BibTex ')}}</a>
   <a href="{{ h.url_for('package_export', package_id=pkg.name, file_format='ris', extension='ris')}}" class="btn"><i class="fa fa-icon fa-bookmark"></i>{{ _(' RIS ')}}</a>

{% endblock %}
